*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
    background-image: url(https://img.freepik.com/premium-vector/hand-painted-background-violet-orange-colours_23-2148427578.jpg?w=2000);
    line-height: 28px
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    padding: 50px 60px 0px ;
}
.row{
    display: flex;
    gap: 12px;
}
.section_name{
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 28px;

}
.img-container{
    width: 33.33%;
}
.img-item{
    height: 300px;
    border: 5px black solid;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.img-caption{
    text-align: center;
    transition: .3s;
    transform: translateY(-10px);
    opacity: 0;
}
.img-container:hover .img-caption{
    opacity: 1;
    transform: translateY(0);

}
.effect_1 .img-item img{
    transition: 0.3s;
}
.effect_1 .img-item:hover img{
    transform: scale(1.3);
}
.effect_2 .img-item img{
    transition: 0.5s;
}
.effect_2 .img-item:hover img{
    transform: rotate(10deg) scale(1.3);

}

.effect_3 .img-item img{
    transition: 1s;
}
.effect_3 .img-item:hover img{
    transform: scaleX(1.3);   
}
.effect_4 .img-item img{
    transition: 0.3s;
}
.effect_4 .img-item:hover img{
    transform: scaley(1.2);   
}
.effect_5 .img-item img{
    transition: 0.3s;
}
.effect_5 .img-item:hover img{
    transform: scale(1.3);
}
